version: "3.0"
services:
  db:
    image: postgres:16
    container_name: avito_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db
    ports:
      - "8989:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: avito_server
    depends_on:
      - db
    restart: always
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: db
      DB_PORT: 5432
    ports:
      - "8080:8080"



volumes:
  pgdata: