version: "3.0"
services:
  db:
    image: postgres:16
    container_name: avito_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db
    ports:
      - "8989:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data


volumes:
  pgdata: